<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TFSAdministrationTool.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TFSAdministrationTool.Proxy.Properties.Settings>
      <setting name="TFSAdministrationTool_Proxy_ReportServer_ReportingService2005" serializeAs="String">
        <value>http://tfs-server/ReportServer/ReportService2005.asmx</value>
      </setting>
      <setting name="Microsoft_DDSolutions_TfsAdmin_Proxy_SharePoint_UserGroup" serializeAs="String">
        <value>http://tfs-server/_vti_bin/usergroup.asmx</value>
      </setting>
    </TFSAdministrationTool.Proxy.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>